body {
	font-family: Arial, Helvetica, sans-serif;
}
form {border: 3px solid #f2f3f2;}
input[type=text], input[type=password], textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
input:valid,
textarea:valid {
	background-color: palegreen;
}
input:invalid{
	background-color: palevioletred;
}
button:not(.normal) {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
button:hover {
	opacity: 0.8;
}
.container {
	padding: 16px;
}


.event .border{
	stroke-width:1px;
	stroke:rgba(0, 0, 0, 0.1);
	fill:rgba(0, 0, 0, 0);
}
.eventDetailsTitle{
	background-color: #bfffff;
	padding: 0 4px;
}
body.darkmodeActive .eventDetailsTitle{
	background-color: #710000;
}
.eventOverviewTime{
	opacity: 60%;
	font-size: 80%;
}

.day .border{
	stroke-width:1px;
	stroke:black;
	fill:rgba(0, 0, 0, 0);
	cursor: pointer;
}
.day:hover .border{
	stroke:red;
}
.selectedday .border{
	stroke:green;
	fill:rgba(0, 0, 0, 0.2);
}
body.darkmodeActive .border{
	stroke:white;
}
body.darkmodeActive .selectedday .border{
	stroke:green;
	fill:rgba(255, 255, 255, 0.2);
}

.mytag{
	display:inline-block;
	text-decoration: none;
	color:black;
	border: black solid 1px;
	border-radius: 5px;
	margin: 0px 2px;
    padding: 0px 4px;
}
.mytag:hover{
	border: red solid 1px;
}
.tagGroup{
	display:inline-block;
}
.changeEntry{
	margin-left: 4px;
}
.hilightAble{
	background-color: #ccc;
	border: rgba(0, 0, 0, 0) solid 1px;
}
pre.hilightAble{
	overflow: auto;
}
.hilightAble:hover{
	background-color: #999;
	border: black solid 1px;
}
.link{
	stroke:black;
	stroke-width:0.5px;
	cursor: pointer;
}
.link:hover{
	stroke:blue;
	color:blue;
}
body.darkmodeActive .link{
	stroke:white;
	fill: darkred;
}
body.darkmodeActive .link:hover{
	stroke:red;
}
body.darkmodeActive .ntext{
	fill:white;
}
.borderRect{
	stroke:black;
}
body.darkmodeActive .eventText{
	color:white;
}
body.darkmodeActive .textDayNum{
	fill:white;
}

body.darkmodeActive .borderRect{
	stroke:white;
}
.darkmodeOption{
	/* 
	no style right now, just as a note. 
	Elements with this class get the class "darkmodeActive" added when a user wishes to use darkmode 
	*/
}
.darkmodeActive{
	color:white;
	background-color: black;
}

